body {
    background: #e9ebee;
}

.post {
    display: block;
    font-size: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0;
    padding: 15px 15px 0 15px;
    border: 1px solid #bababa;
}
.row {
    padding: 4px 15px 3px 15px;

}
.comment-box .row/*:not(:last-child)*/ {
    padding: 5px 15px 5px 15px;
    border-top: 1px solid #bababa   ;
    background-color: #f5f5f5;
}
.remove {
    display: inline-block;
    float: right;
    margin-bottom: 10px;

}
.comments-name {
    font-weight: bolder;
    padding-right: 5px;
}
.comment-content {
    display: inline-block;
    margin: 0 10px 10px 0;
    width:55%;
}

.comment-user {
    display: inline-block;
    width:15%;
}


.comment-box {
    /*transform:translate(0px,20px);-ms-transform:translate(0px,20px);*/

    font-size: 15px;
}

.add-post {
    display: block;
    margin-left: auto;
    margin-bottom: 30px;
}